export DJANGO_SETTINGS_MODULE=django_project.settings.development
export X_API_KEY="123"
export DATABASE_NAME=loan_services
export DATABASE_USER=postgres
export DATABASE_PASSWORD=postgres
export DATABASE_HOST=localhost
export DATABASE_PORT=5432

      
